<div>
    <h3>変更する</h3>
    <%= form_with(model: @company, local: true) do |form| %>
        <%= form.text_field :company_name, placeholder: "例）株式会社Staging" %>
        <%= form.text_field :representative_name, placeholder: "例）三宅泰斗" %>
        <%= form.submit "変更" %>
    <% end %>
</div>