<% @companies.each do |company| %>
    <div>
        <p><%= company.company_name %></p>
        <p><%= company.representative_name %></p>
        <div>
            <ul>
                <li>
                    <%= link_to '詳細', company_path(company.id) %>
                </li>
            </ul>
        </div>
    </div>
<% end %>